@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(161, 100, 223);
  flex-wrap: wrap;
  text-align: center;
}
.btn{
    background-color: purple;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.btn:focus{
    outline: none;
}
